<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.gr.java_conf.foobar.testmaker.service">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".TestMakerApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.play.NewPlayActivity" />
        <activity android:name=".view.edit.EditQuestionActivity" />
        <activity android:name=".view.category.EditCategoryActivity" />
        <activity android:name=".view.edit.EditTestActivity" />
        <activity
            android:name=".view.preference.SettingsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".view.online.FirebaseMyPageActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".view.online.FirebaseActivity"
            android:configChanges="uiMode" />

        <meta-data
            android:name="studyplus_comsumer_key"
            android:value="${studyplus_consumer_key}" />
        <meta-data
            android:name="secret_studyplus_comsumer_key"
            android:value="${secret_studyplus_consumer_key}" />
        <meta-data
            android:name="com.google.android.gms.ads.jp.gr.java_conf.foobar.testmaker.service"
            android:value="${testmaker_admob_key}" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".view.main.MainActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="testmaker-1cb29.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.play.PlayActivity"
            android:configChanges="uiMode"
            android:label="解答"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".view.edit.EditActivity"
            android:configChanges="uiMode"
            android:label="編集"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.result.ResultActivity"
            android:configChanges="uiMode"
            android:label="結果"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.edit.EditProActivity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_edit_pro"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.share.ShowTestsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".view.share.BaseActivity"
            android:configChanges="uiMode" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".view.move.MoveQuestionsActivity"
            android:configChanges="uiMode"
            android:label="@string/title_activity_move_questions"
            android:theme="@style/AppTheme" />
    </application>

</manifest>