<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.gr.java_conf.foobar.testmaker.service">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".TestMakerApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_testmaker_small"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.online.FirebaseMyPageActivity"></activity>
        <activity android:name=".view.online.FirebaseActivity" />

        <meta-data
            android:name="studyplus_comsumer_key"
            android:value="${studyplus_consumer_key}" />
        <meta-data
            android:name="secret_studyplus_comsumer_key"
            android:value="${secret_studyplus_consumer_key}" />
        <meta-data
            android:name="testmaker_admob_key"
            android:value="${testmaker_admob_key}" />
        <meta-data
            android:name="com.google.android.gms.ads.jp.gr.java_conf.foobar.testmaker.service"
            android:value="hogehoge" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".view.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.play.PlayActivity"
            android:label="解答"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".view.edit.EditActivity"
            android:label="編集"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.result.ResultActivity"
            android:label="結果"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.library.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.category.CategorizedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.edit.EditProActivity"
            android:label="@string/title_activity_edit_pro"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.share.ShowTestsActivity" />
        <activity android:name=".view.share.BaseActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".view.move.MoveQuestionsActivity"
            android:label="@string/title_activity_move_questions"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.studyplus.StudyPlusActivity"
            android:label="@string/title_activity_study_plus"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
